{% extends 'accounts/base.html' %}


{% block content %}
<h1>Athletes</h1>
<form method="get">
    <input type="text" name="username" placeholder="Search">
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form>
<!-- Profile list START -->
<ul>
{% if profile_list %}
    {% for profile in profile_list %}
        {% if profile != user.profile %}
        <!-- Profile list item START -->
            <li>{{ profile.user.username }}
            {% if profile.user.profile in user.profile.follows.all %}
                <form method="post" action={% url 'accounts:unfollow' profile.id %}>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-outline-primary">Unfollow</button>
                </form>
            {% else %}
                <form method="post" action={% url 'accounts:follow' profile.id %}>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-outline-primary">Follow</button>
                </form>
            {% endif %}
            </li>
        {% endif %}
        <!-- Profile list item END -->
    {% endfor %}
{% endif %}
</ul>
<!-- Profile list END -->
{% endblock %}