{% extends 'workouts/workout_base.html' %}

{% block content %}
{{ block.super }}
<ul>
    {% if workout.exercises.count > 0 %}
        {% for workout_exercise in workout.exercises.all %}
            <li>
                {{ workout_exercise }}
                <a href="{% url 'workouts:workout_exercise_detail' pk=workout_exercise.id %}">Edit</a>
                <a href="{% url 'workouts:workout_exercise_delete' workout_exercise_id=workout_exercise.id %}">Delete</a>
            </li>
        {% endfor %}
    {% else %}
        <li>No exercises for this workout</li>
    {% endif %}
</ul>
<form method="post" action="{% url 'workouts:workout_exercise_add' workout_id=workout.id %}">
    {% csrf_token %}
    {{ add_exercise_form.as_p }}
    <button type="submit">Add Exercise</button>
</form>
{% endblock %}