{% extends 'workouts/workoutexercise_base.html' %}

{% block content %}
    {{ block.super }}
    <ul>
    {% for set in workoutexercise.sets.all %}
        <li>
            <div class='horizontal-container'>
                <a href={%url 'workouts:set_update' pk=set.id%}>
                    {{ set }}
                </a>
                <form method="post" action={%url 'workouts:set_copy' set.id %} class="padded">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Copy</button>
                </form>
                <form method="post" action={%url 'workouts:set_delete' set.id%} class="padded">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </li>
    {% endfor %}
    </ul>
    <form method="post" action="{% url 'workouts:set_add' workout_exercise_id=workoutexercise.id %}">
        <h3>Add Set</h3>
        {% csrf_token %}
        {{ add_set_form.as_p }}
        <button type="submit" class="btn btn-success">Add</button>
    </form>
{% endblock %}