{% extends 'workouts/workout_base.html' %}

{% block content %}
<div>
    <a href={% url 'workouts:index'%}>Back to workouts list</a>
</div>
{{ block.super }}
<a href={% url 'workouts:update' workout.id %}>Rename</a>
<ul>
    {% if workout.exercises.count > 0 %}
        {% for workout_exercise in workout.exercises.all %}
            <li>
                <div class="horizontal-container">
                    <form method="post" action={% url 'workouts:workout_exercise_shift_order' workout_exercise_id=workout_exercise.id direction='up'%}>
                        {% csrf_token %}
                        <button type="submit" class="btn px-0">&uarr;</button>
                    </form>
                    <form method="post" action={% url 'workouts:workout_exercise_shift_order' workout_exercise_id=workout_exercise.id direction='down'%}>
                        {% csrf_token %}
                        <button type="submit" class="btn px-0">&darr;</button>
                    </form>
                    <div class="padded">
                        <a href={% url 'workouts:workout_exercise_detail' pk=workout_exercise.id %}>
                        {{ workout_exercise }}
                        </a>
                    </div>
                    <form method="post" action={% url 'workouts:workout_exercise_delete' workout_exercise_id=workout_exercise.id %} class="padded">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <li>No exercises for this workout</li>
    {% endif %}
</ul>
<form method="post" action={% url 'workouts:workout_exercise_add' workout_id=workout.id %}>
    {% csrf_token %}
    {{ add_exercise_form.as_p }}
    <button type="submit">Add Exercise</button>
</form>
{% endblock %}